/* Common nav styles  */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.contact-hours-wrapper {
    color: royalblue;
}

.address-wrapper {
    color: saddlebrown;
}